/* MEDIA CELULAR */

@media screen and (min-width: 350px) { 
    /* HEADER, LOGO */
    .logo img {
        width: 250px;
        height: 150px;
        display: flex;
        align-items: center;
        }
    
    .transicion {
        width: 250px;
        height: 150px;
        display: flex;
        align-items: center;
        margin-top: auto;
        margin-left: 50px;
        opacity: 1;
        animation-name: fade-in;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 2s;
    
        @keyframes fade-in {
            0% {
                transform: translateX(-800px);
                opacity: 0;
            }
    
            50% {
                transform: translateX(-50px);
                opacity: .5;
            }
    
            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }
    }
        
    
    // NAV
    .color-nav {
        /* background: linear-gradient(rgba(5,7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(./fotos/fondo1.jpg) */
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(/fotos/fondo1.jpg);
        background-attachment: fixed;
        background-size: cover;
    
        .links {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
            font-weight: 400; 
        }
        
        .links:hover {
            transform: scale(1.1);
        }
    
        a:hover{
            color: black ;
        }
    }
    
    /* MAIN */
    /* ENCABEZADOS */
    .fuente-encabezados {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        font-weight: 500; 
        color: $color-primary;
        text-shadow: 0.1em 0.1em $color-secondary;
        text-decoration: underline;
    }
    
    /* TEXTOS */
    
    
    /* PRODUCTOS */
    .fuente-textos {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
            font-weight: 550; 
            color: $color-primary;
    }
    
    .nombres-productos {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: medium;
        font-weight: 700;
        color: $color-primary;
        text-shadow: 0.1em 0.1em rgb(114, 76, 151);
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: 20px;
    }
    
    .nombre-redes {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 15px;
        color: black;
    }
    
    /* IMÁGENES */
    
    /* INDEX */
    .imagen-masc-pestañas {
        /* largo de img */
        height: 200px;
        /* ancho de img */
        width: 150px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);
    }
    
    .imagen-labiales {
        height: 200px;
        width: 200px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);
    }
    
    .imagen-iluminador {
        height: 200px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);
    }
    
    .imagen-rubor {
        height: 200px;
        width: 200px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);
    }
    
    .imagen-sombras {
        height: 150px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);
    
    }
    
    
    .animacion:hover {
        transform: scale(1.1);
    }
    
    /* NOSOTROS */
    .imagen-empresa {
        height: 150px;
        width: auto;
        align-items: center;
        margin-left: 10px;
        border-radius: 5px;
        border-color: pink;
        float: left;
        display: none;
    }
    
    /* TABLA */
    .tabla {
        border: solid 3px rgb(226, 219, 236);
        /* border-style: solid; */
        /* grosor: */
        /* border-width: 3px;  */
        /* color de los bordes */
        /* border-color: rgb(226, 219, 236); */
        /* forma del borde */
        border-radius: 4px;
        padding: 10px;
        height: 80px;
        width: 300px;
        
        
    }
    
    /* FOOTER */
    .color-footer {
        color: bisque!important;
    
    }
    
    /* PAG CONTACTOS */
    /* LOGOS */
    .logo-apps {
        height: 50px;
        margin: 15px;
    }
    
    .tabla-textos, .tabla-logos {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 70%;
        margin: 50px;
    
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(2, 80px);
    }
    
    .video {
        margin-top: 20px;
    }
      
    .carousel {
        display: none;
       }
    
    .botones-contacto1 {
    background: linear-gradient(rgba(207, 55, 62, 0.6), rgba(255, 255, 255, 0.6)), url(../fotos/fondo1.jpg);
       background-attachment: fixed;
       background-size: cover;
        }
    
     .botones-contacto2 {
    background: linear-gradient(rgba(46, 209, 73, 0.6), rgba(115, 255, 138, 0.6)), url(../fotos/fondo1.jpg);
    background-attachment: fixed;
    background-size: cover;
        }
    
    .botones-contacto3 {
    background: linear-gradient(rgba(157, 248, 255, 0.6), rgba(149, 243, 255, 0.6)), url(../fotos/fondo1.jpg);
    background-attachment: fixed;
    background-size: cover;
     }
    
    }
   
   
   /* MEDIA TABLET */
@media screen and (min-width: 768px) {

    .imagen-empresa {
            height: 250px;
            width: auto;
            float: right;
            display: block;
        }
    
    .todas-imagenes {
        width: 100%;
        margin: auto;
    }
    
    .producto {
        width: 50%;
        float: left;
    }
    
    .carousel {
        height: 540px; 
        width: 260px; 
        float: left;
        padding: 10px;
        border-radius: 50px;
        display: block;
       }
    
    }

    /* MEDIA COMPUTADORA */
  @media screen and (min-width: 1024px) {
    
    .header-index {
        width: 100%;

        display: grid;
        grid-template-areas:
        "logo"
        "nav";
    }

    .logo {
        width: 250px;
        height: 150px;
        display: flex;
        align-items: center;
        margin-top: auto;
        margin-left: 100px;
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 5px 0px;
    }
    
    .todas-imagenes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    
    .imagen-masc-pestañas {
        /* largo de img */
        height: 200px;
        /* ancho de img */
        width: 150px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);


    }
    
    .imagen-labiales {
        height: 200px;
        width: 200px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);
    }
    
    .imagen-iluminador {
        height: 200px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);
    }
    
    .imagen-rubor {
        height: 200px;
        width: 200px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);
    }
    
    .imagen-sombras {
        height: 200px;
        margin: 20px;
        border: 3px solid rgb(220, 158, 245);
    }

 

    .tabla {
        border: solid 3px rgb(226, 219, 236);
        /* border-style: solid; */
        /* grosor: */
        /* border-width: 3px;  */
        /* color de los bordes */
        /* border-color: rgb(226, 219, 236); */
        /* forma del borde */
        border-radius: 4px;
        padding: 10px;
        height: 80px;
        width: 600px;
    }

.contenedor-main-nosotros {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 30px 150px 0px 30px;
}

.imagen-empresa {
    height: 250px;
    width: auto;
    float: right;
    display: block;
}

.texto-listas {
 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 30; 
    color: rgb(219, 210, 224);
}

.contenedor-main-objetivos {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 30px 150px 0px 30px;

}

.carousel {
    height: 540px; 
    width: 260px; 
    float: left;
    padding: 10px;
    border-radius: 50px;
    display: block;
   }

}

  